@import './variables.scss';

.cards-container {
    $gap: ("column": 1rem, "row": 1.2rem);

    color: $black;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: map-get($gap, column);
    row-gap: map-get($gap, row);
}

.card {
    $border-color: hsl(200 100% 50%);
    $border-radius: 1em;

    cursor: pointer;
    background-color: $white;
    width: 150px;
    height: 200px;
    border: 2px solid $border-color;
    border-radius: $border-radius;
    @include flex-center;
    transition: box-shadow 300ms ease;

    &:hover, &:focus {
        box-shadow: 0 0 12px $border-color;
    }
}