@use './normalize.css';
@use './header.scss';
@use './game.scss';
@use './versions.scss';
@use './cards.scss';

*, *::before, *::after {
  box-sizing: border-box;
}

#root {
  background: url(../images/bg.jpg) center center;
  background-size: cover;
  height: 100vh;
}